<mat-card style="height: 600px;">
    <mat-card-header>
        <mat-card-title>
            {{ hero.superhero }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ hero.alter_ego }}
        </mat-card-subtitle>
    </mat-card-header>

    <!-- TODO: image -->
    <img mat-card-image [src]="hero | heroImage" [alt]="hero.superhero"/>

    <mat-card-content class="mt-2">
      <h4>{{ hero.publisher }}</h4>
      <p>
        <strong>Primera aparición:</strong> {{ hero.first_appearance }}
      </p>
    </mat-card-content>

    <mat-card-actions class="display-flex gravity justify-content-end" style="margin-top: auto;">
      <button
        mat-button
        mat-raised-button
        color="secondary"
        class="mr-2"
        [routerLink]="['/heroes', hero.id]">
        <mat-icon>edit</mat-icon>
          Editar
      </button>
      <button
        mat-button
        mat-raised-button
        color="primary"
        [routerLink]="['/heroes', hero.id]">
        <mat-icon>more_horiz</mat-icon>
          Más
      </button>
    </mat-card-actions>
</mat-card>
